/* Globale styles her */

:root {
  /*Farver*/
  --yellow-button: #ffcc4a;
  --yellow-button-hover: #ffe5a2;
  --primary-color: #181818;
  --primary-color-light: rgba(27, 27, 27, 0.91);
  --primary-color-transparent: rgba(38, 38, 38, 0.9);
  --secondary-color: #f5f5f5;
  --third-color: #ffffff;
  --accent-color: #4eaf4e;
  --accent-color-second: #595566;
  --accent-color-third: #ebebeb;

  /*Fonte*/
  --xxxs-font: 1.25rem;
  --xxs-font: 1.5625rem;
  --xs-font: 1.875rem;
  --s-font: 2.1875rem;
  --m-font: 2.5rem;
  --l-font: 2.8125rem;
  --xl-font: 3.125rem;

  /* Spacing */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /*Bredde*/
  --content-width: 1224px;

  /*Radius*/
  --button-radius: 1.25rem;
  --box-radius: 1.875rem;
}

main {
  display: contents;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(20px, 1fr) [content-start] minmax(0, 600px) [middle] minmax(0, 600px) [content-end] minmax(20px, 1fr);

  > * {
    grid-column: content;
  }
}
