---

---

<footer>
  <div>
    <h1>AskExperts</h1>
  </div>
  <div>
    <hr />
  </div>
  <div>
    <p>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
  </div>
</footer>

<style>
  @layer components {
    footer {
      background-color: var(--primary-color-light);
      color: var(--third-color);
      display: grid;
      padding: 1rem 2rem;
    }

    footer div {
      margin: auto;
    }

    h1 {
      font-size: var(--xs-font);
    }

    hr {
      width: var(--content-width);
      border: 1px solid rgba(112, 112, 112, 1);
    }
  }
</style>
