---
import Popover from "./Popover.astro";
---

<header>
  <section class="header">
    <div>
      <h1>AskExperts</h1>
    </div>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/casestudy">Case Study</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <div>
      <Popover />
    </div>
  </section>
</header>

<style>
  @layer components {
    header {
      grid-column: 1/-1;
      background-color: var(--primary-color-light);
    }

    .header {
      grid-column: content;
      color: var(--third-color);
      display: flex;

      padding-block: 1rem;
      h1 {
        font-size: var(--xs-font);
      }
    }

    .header div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header ul {
      display: flex;
      list-style: none;
    }

    li {
      margin: 0 1rem;
      a {
        text-decoration: none;
        color: var(--third-color);
      }
    }
  }
</style>
