---
const { src, title, desc, height } = Astro.props;
---

<section class="hero" style={`background-image: url(${src}); min-height: ${height || "600px"}`}>
  <div class="textbox">
    <p class="bubble">{title}</p>
    <h2>{desc}</h2>
  </div>
</section>

<style>
  @layer components {
    section {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1/-1;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 600px;
      .textbox {
        grid-column: content;
        display: flex;
        flex-direction: column;
        height: fit-content;
        max-width: 600px;
        margin-top: 8rem;
        margin-left: 3rem;
        padding: 2.5rem 1.5rem;
        background-color: var(--transparent-box);
        border-radius: var(--button-radius);

        .bubble {
          background-color: var(--yellow-button);
          color: var(--primary-color);
          border-radius: var(--box-radius);
          padding: 0.2rem 1rem;
          width: fit-content;
          margin-bottom: 0.5rem;
          margin-bottom: 1rem;
        }

        h2 {
          font-size: var(--s-font);
          font-weight: 600;
        }
      }
    }
  }
</style>
