---
import Services from "./Services.astro";
import Button from "./Button.astro";
---

<section class="hero">
  <!-- Markup her -->
  <div class="left">
    <h2>Empowering Your Business Growth</h2>
    <p>Discover tailored strategies and expert insights to take your business to the next level. Let us help you navigate challenges and achieve sustainable success.</p>
    <Button URL="#0" variant="tertiary">Book a Meeting</Button>
  </div>
  <div class="right">
    <img src="public/img/heroForside.webp" alt="foto1" />
  </div>
  <div class="full-width">
    <Services />
  </div>
</section>

<style>
  @layer components {
    .hero {
      display: grid;
      grid-template-columns: 1fr 1fr;

      h2 {
        font-size: var(--s-font);
      }

      img {
        width: 100%;
        height: auto;
      }

      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        background-color: var(--primary-color);
        color: var(--third-color);
      }

      .right {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
</style>
