---
import Button from "./Button.astro";
---

<section>
  <div class="text">
    <h2>Subscribe Our Newsletter</h2>
    <p>Build stronger Customer Relationships with Consultalk</p>
  </div>
  <div class="form">
    <input type="email" placeholder="Your email address" />
    <Button URL="#0" variant="primary">Subscribe</Button>   
    <figure></figure>
  </div>
</section>

<style>
  @layer components {
    section {
      width: var(--content-width);
      grid-column: 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2rem;
      margin-bottom: var(--space-3xl);
      background-color: var(--primary-color);
      color: var(--third-color);
      border-radius: var(--button-radius);
      overflow: hidden;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      background-color: var(--primary-color);
      color: var(--third-color);
      h2 {
        font-size: var(--xs-font);
        font-weight: 700;
      }

      p {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
      }
    }

    .form {
      display: flex;
      align-items: center;

      input {
        padding: 1rem;
        border-radius: var(--box-radius);
        border: none;
        width: 60%;
        margin-right: 1rem;
        background-color: var(--third-color);
        color: var(--primary-color);
      }
    }
    }

    figure {
      position: relative;
      margin-inline: auto;
      max-inline-size: 400px;
      margin: 3rem;
      display: block;

      &::before {
        content: "";
        background: var(--accent-color);
        height: 150px;
        width: 100px;
        position: absolute;
        top: 2.5rem;
        right: -4.5rem;
        z-index: 1;
        border-radius: var(--button-radius);
        rotate: 45deg;
      }
    }
  }
</style>
