---

---

<button popovertarget="popup">Login</button>

<div id="popup" popover>
  <h2>Dashboard Login</h2>
  <input type="email" name="" id="" />
  <input type="text" name="" id="" />
</div>

<style>
  @layer components {
    button {
      background-color: var(--yellow-button);
      color: var(--primary-color);
      padding: 0.5rem 1rem;
      border: none;
      border-radius: var(--button-radius);
      cursor: pointer;
    }
  }
</style>
