---
//@ts-nocheck
const servicesData = await fetch("https://frontend-design-theme.netlify.app/api/services").then((response) => response.json());
import Button from "./Button.astro";
---

<ul class="services">
  {
    servicesData.services.map((service) => (
      <li>
        <h2>{service.title}</h2>
        <p>{service.description}</p>
        <Button URL="#0">{service.buttonText}</Button>
      </li>
    ))
  }
</ul>

<style>
  @layer components {
    ul {
      list-style: none;
      display: flex;
      grid-column: 2;
      padding: 2rem;
      gap: 2rem;
      li {
        background-color: var(--primary-color-transparent);
        padding: 2rem;

        border-radius: var(--button-radius);
        color: var(--third-color);

        h2 {
          font-size: var(--xs-font);
        }

        p {
          margin-top: 1rem;
          margin-bottom: 2.5rem;
        }
      }
    }
  }
</style>
